.page--footer {
  border-top: 2px solid var(--color-red);
  padding: 10px 0;
  background-color: var(--color-red-bright);
}

.page--footer--list-item {
  color: var(--color-black);
}

.page--footer--list-item--link {
  color: var(--color-black);
  text-decoration: none;
}

.page--footer--list-item--link:hover,
.page--footer--list-item--link:focus {
  border-bottom: 2px solid var(--color-white)
}

.page--footer--list {
  display: flex;
}



@media only screen and (min-width: 1025px) {
  .page--footer--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-icons {
    display: inherit;
  }

  .socialicon {
    padding: 0 60px;
  }

}

@media only screen and (max-width: 1025px) {
  .page--footer--list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-icons {
    display: flex;
  }
}
